<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>信息展示</h1>
    <table>
    <tr>
        <th>商品编号</th>
        <th>订单编号</th>
        <th>生产商名称</th>
        <th>生产商地址</th>
        <th>确认时间</th>
        <th>中转站名称</th>
        <th>中转站地址</th>
        <th>确认时间</th>
        <th>销售商名称</th>
        <th>销售商地址</th>
        <th>确认时间</th>
        <th>损坏信息</th>

    </tr>
    {% for line in list %}
    <tr>
        <td>{{line.num1}}</td>
        <td>{{line.num2}}</td>
        <td>{{line.product_name}}</td>
        <td>{{line.product_address}}</td>
        <td>{{line.product_time}}</td>
        <td>{{line.logistics_name}}</td>
        <td>{{line.logistics_address}}</td>
        <td>{{line.logistics_time}}</td>
        <td>{{line.sale_name}}</td>
        <td>{{line.sale_address}}</td>
        <td>{{line.sale_time}}</td>
        <td>{{line.information}}</td>

    </tr>
    {% endfor %}
    </table>
</body>
</html>