<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>维护商品物流信息</title>
    <style>
        h1
        {
            display: inline;
            color: red;
            text-shadow: 1px 1px 1px red;
        }
        h2
        {
            color:darkgreen;
            text-shadow: 1px 1px 1px darkgreen;
        }
        button
        {
             background-color:deepskyblue;
            box-shadow: darkcyan 1px 1px;
        }
        image
        {
            display: inline;
        }
    </style>

</head>
<body>
    <img src="./image/Logo.png" alt="logo" >
    <h1 class="head1">区块链商品回溯系统</h1><br>
    <h2>维护物流信息</h2>
    <br><br>
    <form method="post" action="../wuliu/">{% csrf_token %}
{#     {% csrf_token %}#}
{#     <input type="hidden" name="id" value="{{ wuliu.id }}"/>#}
{#     <table>#}
{#      <tr>#}
{#       <th>num1</th>#}
{#       <td><input name="num1" value="{{ wuliu.num1 }}" placeholder="输入订单编号" ></td>#}
{#      </tr>#}
{#      <tr>#}
{#       <th>num2</th>#}
{#       <td><input name="num2" value="{{ wuliu.num2 }}" placeholder="输入订单编号"/></td>#}
{#      </tr>#}
{#      <tr>#}
{#       <td colspan="2">#}
{#        <input type="submit"/>#}
{#       </td>#}
{#      </tr>#}
{#     </table>#}
{#    </form>#}
    产品标识：<input  type="text" name="num1"  placeholder="输入产品编号" >
   <input  type="text" name="num2" placeholder="输入订单编号" ><br><br><br>
   转运开始确认：<input  type="text" name="product_name"  placeholder="生产商名称" >
   <input  type="text" name="product_address"  placeholder="始末/中转站地址" >
   <input  type="text" name="product_time"  placeholder="时间确认" >
    <br><br><br><br>
    中转站信息：<input type="text" name="logistics_name" placeholder="中转站名称" >
       <input type="text" name="logistics_address"  placeholder="始末/中转站地址" >
       <input type="text" name="logistics_time"  placeholder="时间确认" >
         <br><br><br><br>
       运输完成确认：<input type="text" name="sale_name"  placeholder="销售商名称" >
       <input type="text" name="sale_address"  placeholder="始末/中转站地址" >
       <input type="text" name="sale_time"  placeholder="时间确认" >
        <h3>商品损坏信息提交:</h3>#}
       <textarea cols="100" rows="25" type="text" name="information"  ></textarea>

       <input type="submit"/>
    </form>
{#   中转站信息：<input type="text"placeholder="生产商名称" >#}
{#   <input type="text"placeholder="始末/中转站地址" >#}
{#   <input type="text"placeholder="时间确认" >#}
{#     <button>提交</button><br><br><br><br>#}
{#   运输完成确认：<input type="text"placeholder="生产商名称" >#}
{#   <input type="text"placeholder="始末/中转站地址" >#}
{#   <input type="text"placeholder="时间确认" >#}
{#    <button>提交</button><br><br><br><br>#}
{#    <h3>商品损坏信息提交:</h3>#}
{#   <textarea cols="100" rows="25"></textarea>#}
{#   <button>提交</button>#}
</body>
</html>