<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息上传</title>
</head>
<body>
    <form action="/insert2/" method="post"> {% csrf_token %}
        订单编号<input type="text" name="inforno"/>
        <br>商品信息：<input type="text" name="information"/>
        <br>物流名称：<input type="text" name="delivery"/>
        <br>零售商名称：<input type="text" name="retailer"/>
        <br><input type="submit" value="提交">
        <br><button><a href="{% url 'back' %}">返回</a></button>
         <button style="background-color:#64cdff" onClick="clickme()"><a href="{% url 'goto4' %}">查看信息表</a></button>
    </form>
</body>
</html>