<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预定管理</title>
</head>
<body>
    <form action="/insert3/" method="post"> {% csrf_token %}
        订单编号：<input type="text" name="orderno"/>
        <br>预定商：<input type="text" name="retailer"/>
        <br>预定日期：<input type="text" name="date"/>
        <br>预定商品：<input type="text" name="goods"/>
        <br>预定数量：<input type="text" name="number"/>
        <br><input type="submit" value="提交">
        <br><button><a href="{% url 'back' %}">返回</a></button>
    </form>
</body>
</html>