<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>总预定订单</title>
     <style>

    </style>
</head>
<body>
    <h1>订单列表</h1>
    <table border="1">
    <tr>
        <th>序号</th>
        <th>订单编号</th>
        <th>预定商</th>
        <th>预定日期</th>
        <th>预定商品</th>
        <th>预定数量</th>
    </tr>
    {% for line in people_list %}
    <tr>
    <td>{{forloop.counter}}</td>
        <td>{{line.orderno}}</td>
        <td>{{line.retailer}}</td>
    <td>{{line.date}}</td>
    <td>{{line.goods}}</td>
    <td>{{line.number}}</td>
    </tr>
    {% endfor %}
    </table>
    <br><button><a href="{% url 'back' %}">返回</a></button>
</body>
</html>